/** @format */

html {
  box-sizing: border-box;
}
.header {
  max-width:1440px;
  margin: 0 auto;
  height: 100%;
  background: url(../image/Vector\ Smart\ Object.jpg) no-repeat center top;
  background-size: cover;
}
.btn-block__btn {
  padding: 10px 20px;
  font-size: 14px;
  background: none;
  font-family: "Montserrat", sans-serif;
  border: 2px solid transparent;
}
.btn-block__btn:hover,
.btn-block__btn:focus {
  border: 2px solid white;
  transition: 1s;
}
.header-content__title {
  font-size: 30px;
}
.header-content__text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.search-block {
  border: none;
  padding: 10px 60px;
  background: rgb(255, 78, 80);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 140px;
}
.section_title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.item__photo {
  display: block;
  content: "";
  border: 4px solid white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.item__photo::after {
  display: block;
  content: "";
  border: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.item_icon-tv::after {
  background-image: url(../icon/tv.png);
  background-color: rgb(255, 77, 79);
}

.item_icon-cup::after {
  background-image: url(../icon/cup.png);
  background-color: rgb(84, 185, 160);
}
.item_icon-flask::after {
  background-image: url(../icon/flask.png);
  background-color: rgb(255, 163, 5);
}
.item_icon-fly::after {
  background-image: url(../icon/fly.png);
  background-color: rgb(80, 110, 180);
}
.item__name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #333333;

}
.item__about {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: #666666;
  
}
.section__btn {
  padding: 10px 65px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  border: 2px solid rgb(255, 78, 80);
  background-color: white;
}
.section__btn:hover,
.section__btn:focus{
  background-color: rgb(255, 78, 80) ;
  transition: 0.5s;
  color: white;
}

@media screen and (min-width: 748px) {
  .search-block{
    padding: 10px 24px;
  }
  .header-content__title {
    font-size: 52px;
  }
  .header-content__text {
    font-size: 24px;
  }
  .section__btn {
    padding: 10px 26px;
}
.search-block {
  margin-bottom: 260px;
}
}