/** @format */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 900px;
  margin: 0 auto;
  font-size: 0;
  background: #ffffff;
  vertical-align: top;
}

/*Site novigation*/
.site-novigation {
  margin-bottom: 102px;
  margin-top: 42px;
}
ul.site-novigation {
  list-style: none;
}
.site-novigation-list li {
  display: inline-block;
  list-style: none;
}
.site-novigation-list{
  text-align: center;
}
.navigation-list-item {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  text-transform: uppercase;
  line-height: 24px;
}
.list-item-link {
  color: rgb(98, 98, 98);
  text-decoration: none;
}

.novigation-list-item:nth-child(1) {
  margin-left: 160px;
  margin-right: 120px;
}
.novigation-list-item:nth-child(2) {
  margin-right: 100px;
}

.novigation-list-item:nth-child(3) {
  margin-right: 90px;
}
.novigation-list-item:last-child{
  margin-right: 160px;
}

.site-novigation a:hover,
.site-novigation a:focus {
  color: rgb(3, 156, 244);
  cursor: auto;
}

/*site content*/

ul.mane-content-stories {
  text-align: center;
}
.mane-content-stories li {
  display: inline-block;
  list-style: none;
  width: 420px;
  height: 610px;
}
.content-story {
  vertical-align: top;
  }
.mane-content-stories li:nth-child(odd) {
  margin-right: 60px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about-story {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 24px;
  margin-top: 35px;
  text-align: justify;
}

.title-of-story {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 36px;
  margin-top: 30px;
}

.name-of-story {
  font-size: 14px;
  font-family: Ubuntu;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 35px;
}


/*button*/ 
.footer-button {
  text-align: center;
  margin-bottom: 70px;
}
 .button-content{
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  background: transparent;
  border-width: 1px;
  border-color: #626262;
  border-style: solid;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}
