/** @format */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #ffffff;
  font-family: "Roboto", "Open Sans", "MYRIAD PRO-REGULAR";
}
.container {
  max-width: 1110px;
  margin:0 auto;
}
img {
  vertical-align: middle;
  max-width: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page-header {
  width: 1110px;
  margin: 0 auto;
}
.site-navigation {
  margin-top: 36px;
  margin-bottom: 44px;
}
.site-navigation-list {
  float: right;
  list-style: none;
  font-size: 14px;
  font-weight: 700;
  padding-top: 4px;
  font-family: "Myriad Pro";
}
.site-logo {
  display: inline-block;
}

.site-navigation-list li {
  float: left;
  list-style: none;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
  cursor: pointer;
}
.navigation-list-item:not(:last-child) {
  margin-right: 23px;
}
.list-item-link {
  font-family: "MYRIAD PRO-REGULAR";
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.slider {
  display: block;
  height: 600px;
  position: relative;
  background-image: url(../images/slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slider::after {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.slider-content {
  width: 1110px;
  display: block;
  position: absolute;
  text-align: center;
  height: 150px;
  left: 50%;
  top: 200px;
  margin-left: -550px;
  z-index: 3;
}
.slider-text {
  display: block;
  position: absolute;
  width: 780px;
  top: 0;
  left: 50%;
  margin-left: -390px;
  text-align: left;
}
.slider-title {
  margin: 0;
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 1.367;
}
.slider-info {
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  font-family: "Roboto";
  text-transform: uppercase;
  line-height: 1.367;
}
.slider-ctrl {
  font-family: "Pe";
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
  position: absolute;
  display: inline-block;
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  width: 104px;
  height: 104px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
}

.slider-ctrl-right {
  right: 0;
}
.slider-ctrl-left {
  left: 0;
}
.slider-ctrl-right::before,
.slider-ctrl-left::before {
  content: "";
  --s: 28px;
  --bd: 4px solid #fff;
  width: var(--s);
  height: var(--s);
  border-left: var(--bd);
  border-top: var(--bd);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-ctrl-right::before {
  left: 45%;
  transform: translate(-50%, -50%) rotate(135deg);
}
.slider-ctrl-left::before {
  left: 55%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.slider-ctrl:hover,
.slider-ctrl:focus {
  opacity: 1;
  cursor: pointer;
}
.carts-list {
  margin-bottom: 100px;
}
.cart {
  width: 255px;
  list-style: none;
  text-transform: uppercase;
  float: left;
  font-size: 18px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}
.overlay {
  width: 236px;
  height: 262px;
  border-width: 0px;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  padding: 0;
  top: 10px;
  left: 10px;
  margin: 0 auto;
  z-index: 2;
}
.modal-menu {
  position: absolute;
  z-index: 4;
  opacity: 0;
  top: 80px;
  left: 34px;
}

.cart:hover .overlay {
  background: rgba(0, 0, 0, 0.561);
}
.cart:hover .modal-menu {
  opacity: 1;
}
.cart:hover .product-name {
  background: #1abc9c;
}
.cart:hover .product-price {
  background: #7fd9c7;
}

.modal-menu-button {
  display: inline-block;
  box-sizing: border-box;
  background: transparent;
  width: 50px;
  height: 50px;
  margin-right: 4px;
  margin-bottom: 6px;
  border: 1px solid #fff;
  cursor: pointer;
  vertical-align: top;
}
.modal-menu-button-basket {
  display: block;
  width: 168px;
  height: 50px;
  box-sizing: border-box;
  background-color: #323232;
  opacity: 1;
  border: 1px solid #fff;
  cursor: pointer;
  padding-top: 4px;
}
.modal-menu-button:hover,
.modal-menu-button-basket:hover {
  background: #1abc9c;
  opacity: 1;
  border: 1px solid #1abc9c;
}
.button-basket-text {
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
}
.button-basket-text {
  display: inline-block;
  margin-left: 10px;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: #525252;
  margin-bottom: 100px;
  text-transform: uppercase;
  position: relative;
  padding-top: 100px;
}
h2::after {
  display: block;
  content: "";
  position: absolute;
  width: 163px;
  height: 7px;
  background-color: #1abc9c;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carts-list li:not(:nth-child(4)) {
  margin-right: 30px;
}

.product-info-img {
  display: inline-block;
  top: 0;
  overflow: hidden;
  height: 285px;
  line-height: 285px;
  text-align: center;
}
.product-name {
  display: inline-block;
  bottom: 0;
  left: 0;
  padding-left: 16px;
  width: 198px;
  height: 40px;
  line-height: 40px;
  background-color: #323232;
}
.product-price {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 57px;
  height: 40px;
  padding-left: 10px;
  padding-top: 4px;
  background-color: #8c8c8c;
}

.footer {
  margin: 0 auto;
  background-color: #323232;
}
.footer-content {
  display: block;
  text-align: center;
  font: 16px;
  color: #ffffff;
  line-height: 28px;
  padding-top: 35px;
  padding-bottom: 27px;
}
.color-text {
  color: #1abc9c;
}
