@font-face{
font-family: 'Roboto', sans-serif;
src: url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
}

@font-face{
font-family: 'Kaushan Script', cursive;
src: url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');
}
    
@font-face{
font-family: 'Montserrat', sans-serif;
src:  url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,900,900i&display=swap');
}