html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}