.section {
  padding-top: 45px;
  padding-bottom: 80px;
}
.service-list {
  @include list;
  &__card {
    @include center-flex($type: 'ver-start');
    width: 380px;
    list-style: none;
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 100px;
    }
    &::before {
      @include before-after;
      width: 80px;
      min-height: 40px;
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: contain;
    }
  }
  &__title {
    @include title;
    font-size: $text-font;
    color: $title-color;
    text-align: left;
  }
  &__text {
    @include text;
  }

  &__card &__content {
    width: 300px;
  }
}

.service-list__icon {
  &--alarm::before {
    background-image: url(../images/service/ALARM.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/ALARM@2x.png);
    }
  }
  &--book::before {
    background-image: url(../images/service/BOOK.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/BOOK@2x.png);
    }
  }
  &__icon--computer::before {
    background-image: url(../images/service/COMPUTER.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/COMPUTER@2x.png);
    }
  }

  &__icon--graph::before {
    background-image: url(../images/service/LINE-GRAPH.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/LINE-GRAPH@2x.png);
    }
  }
  &__icon--image::before {
    background-image: url(../images/service/IMAGE.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/IMAGE@2x.png);
     }
   }
   &__icon--home::before {
    background-image: url(../images/service/HOME.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/HOME@2x.png);
    }
  }
}