
.service-list__icon--alarm::before {
    background-image: url(../images/service/ALARM.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/service/ALARM@2x.png);
      }
  }
  .service-list__icon--book::before {
    background-image: url(../images/service/BOOK.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/BOOK@2x.png);
    }
  }
  .service-list__icon--computer::before {
    background-image: url(../images/service/COMPUTER.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/COMPUTER@2x.png);
    }
  }
  .service-list__icon--graph::before {
    background-image: url(../images/service/LINE-GRAPH.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/LINE-GRAPH@2x.png);
    }
  }
  .service-list__icon--image::before {
    background-image: url(../images/service/IMAGE.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/IMAGE@2x.png);
    }
  }
  .service-list__icon--home::before {
    background-image: url(../images/service/HOME.png);
    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/service/HOME@2x.png);
    }
  }
