
.nav {
  @include center-flex ($type: "ver-start");
    margin-bottom: 160px;
     &__list {
      display: block;
    }
  }
  
  .nav__list li {
    display: inline-block;
    max-width: 500px;
    list-style: none;
  }
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
  .nav__link {
    font-family: $main-font;
    color: $main-light-color;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease, color 0.2s linear;
     &--border:hover,
     &--border:focus {
       color: $accent-color;
       border-bottom: 2px solid $accent-color;
     }
  }
  .nav__svg {
    fill: $main-light-color;
     &:hover,
     &:focus {
       fill: $accent-color;
       transition: color 0.2s linear;
     }
  }