.section__list--team {
  @include list;
}
.team-list__card {
  display: block;
  text-align: center;
}
.team-list__photo {
  display: block;
  overflow: hidden;
  width: 380px;
}
.team-list__name {
  @include title;
  color: $title-color;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: $secondary-font-size;
}
.team-list__position {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: text-font;
  font-style: italic;
}
.team-list:hover .modal-menu {
  opacity: 1;
}
.overlay {
  background-image: linear-gradient(
    0deg,
    rgba(148, 148, 148, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
  width: 380px;
  height: 470px;
  border-width: 0px;
  position: absolute;
  z-index: 3;
  transition: 0.2s linear;
}

.team-list:hover .overlay {
  box-shadow: 10px 10px #95e1d3;
  transform: translate(-10px, -10px);
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.85) 0%,
    rgba(243, 129, 129, 0.85) 100%
  );
}

.modal-menu {
  display: flex;
  width: 228px;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
  &__link {
    @include center-flex($type: 'all');
    background: $accent-color;
    fill: $select-color;
    width: 56px;
    height: 56px;
    border: none;
    transition: 0.2s linear;
    &:hover {
      background: #95e1d3;
      opacity: 1;
      fill: $main-light-color;
    }
    & svg {
      display: inline-block;
      width: 100%;
      height: 26px;
    }
  }
}

.section__text {
  @include text;
  display: block;
  width: 980px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
