.footer {
@include center-flex ($type: "ver");
    border-top: 0.5px solid rgb(181, 181, 181);
   padding-bottom: 40px;
    padding-top: 15px;
  }
  .footer__text {
    font-size: $secondary-font-size;
    color:$title-color;
    line-height: 1.6;
  }
  .footer__text--color-text {
    color: $select-color;
  }