
.header {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(images/photo/background.jpg);
    background-size: cover;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    &__content {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 820px;
      text-align: center;
    }
  }