.section {
    padding-top: 45px;
    padding-bottom: 80px;
  }
  .service-list{
     @include list;
  }
.service-list__card {
   @include center-flex ($type: "ver-start");
    width: 380px;
    list-style: none;
      &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 100px;
      }
      &::before {
       @include before-after;
        width: 80px;
        min-height: 40px;
        background-repeat: no-repeat;
        background-position: center 0;
        background-size: contain;
      }
  }
  .service-list__title {
    @include title;
    font-size: $text-font;
    color: $title-color;
    text-align: left;
  }
  .service-list__text{
    @include text;
  }
 
  .service-list__card
  .service-list__content {
    width: 300px;
  }

  