@mixin title{
    display: block;
    font-weight: bold;
    font-family: $main-font;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
  }
  @mixin title--select{
    display: block;
    font-weight: bold;
    line-height: 1.2;
    font-family: $secondary-font;
  } 
      