html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 280px;
  height: auto;
  margin: 0 auto;
}
