/** @format */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.site-logo-img {
  width: 78px;
  height: 22px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;
  margin-bottom: 100px;
}
.site-navigation-list li{
  display:inline-block;
  max-width: 500px;
  list-style: none;
}
.navigation-list-item:not(:last-child) {
  margin-right: 40px;
}
.list-item-link {
  font-family: "Montserrat", sans-serif;
  color: #95e1d3;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  transition: border 0.2s ease, color 0.2s linear;
}
.list-item-link:hover,
.list-item-link:focus {
  color: #f38181;
  cursor: pointer;
  border-bottom: 3px solid #f38181;
}

/*service*/

.service-items-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.section-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 100px;
}
.section-title::after {
  display: block;
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section-tittle-select {
  display: block;
  font-weight: bold;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333333;
  line-height: 1.5;
}
.service-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 380px;
  margin-bottom: 100px;
  list-style: none;
  cursor: pointer;
}
.service-content {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
}

.service-tittle {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  margin-bottom: 12px;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
}
.service-item-content {
  width: 300px;
}
.service-item::before {
  display: block;
  content: "";
  width: 80px;
  min-height: 40px;
  background-repeat: no-repeat;
  background-position: center 0;
}
.service-icon-alarm::before {
  background-image: url(../image/service/ALARM.png);
}
.service-icon-book::before {
  background-image: url(../image/service/BOOK\ 2.png);
}
.service-icon-computer::before {
  background-image: url(../image/service/COMPUTER\ _\ OK.png);
}
.service-icon-graph::before {
  background-image: url(../image/service/LINE\ GRAPH.png);
}
.service-icon-image::before {
  background-image: url(../image/service/IMAGE.png);
}
.service-icon-home::before {
  background-image: url(../image/service/HOME.png);
}

/*team-content*/

.about-team {
  display: block;
  width: 980px;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
.team-list-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 80px;
}
.team-list-item {
  display: block;
  text-align: center;
}
.product-info-img {
  display: block;
  overflow: hidden;
  width: 380px;
}
.item-name {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #333333;
  text-transform: uppercase;
}
.item-position {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto", sans-serif;
}
.overlay {
  background-image: linear-gradient(
    0deg,
    rgba(148, 148, 148, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
  width: 380px;
  height: 470px;
  border-width: 0px;
  position: absolute;
  z-index: 3;
  transition: 0.2s linear;
}
.modal-menu {
  display: flex;
  width: 228px;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  opacity: 0;
}
.team-list {
  list-style: none;
  position: relative;
}
.team-list:hover .overlay {
  box-shadow: 10px 10px #95e1d3;
  transform: translate(-10px, -10px);
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.85) 0%,
    rgba(243, 129, 129, 0.85) 100%
  );
}
.team-list:hover .modal-menu {
  opacity: 1;
}

.modal-menu-button {
  background: #fce38a;
  width: 56px;
  height: 60px;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
}
.modal-menu-button:hover {
  background: #95e1d3;
  opacity: 1;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer-text{
  font: 14px;
  color: black;
  line-height: 28px;
 

}
.color-text {
  color: #f38181;
}
.input {
  display: flex;
  width: 380px;
}
input[type="email"] {
  border: 0.5px solid rgb(181, 181, 181);
  color: black;
  width: 230px;
  height: 40px;
  background-color: #ffffff;
  padding: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: lighter;
}
.submit{
  border: none;
  width: 150px;
  height: 40px;
  cursor: pointer;
  background: #95e1d3;
  text-transform: uppercase;
  color: #ffffff;
}
