/** @format */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body {
  background: rgb(255, 255, 255);
}
.container {
  margin: 0 auto;
  max-width: 320px;
}
.background-img {
  display: block;
  min-width: 100%;
  height: 540px;
  background: url(../image/Vector\ Smart\ Object.jpg) no-repeat center top;
  background-size: cover;
  margin-bottom: 70px;
}
.wrapper {
  padding: 0 20px;
}
.menu {
  padding-top: 20px;
}
.btn-block {
  display: block;
  text-align: center;
  margin-bottom: 100px;
}
.btn-block__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: none;
  background: none;
}
.btn-block__btn:hover,
.btn-block__btn:focus {
  border: 2px solid white;
  border-radius: 25px;
}

.site-logo {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.header-content {
  display: block;
  text-align: center;
  margin: 10px auto;
  width: 280px;
}
.header-content__title {
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-content__text {
  display: block;
  font-size: 18px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.search-block {
  display: block;
  text-align: center;
  padding: 10px 50px;
  border: none;
  margin: 0 auto;
  border-radius: 20px;
  background: rgb(255, 78, 80);
  font-size: 14px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.section_title {
  display: block;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}
.list-of-partner {
  display: flex;
  flex-direction: column;
}
.list-of-partner_item {
  width: 280px;
  margin-bottom: 25px;
  list-style: none;
  text-align: center;
  padding: 0 40px;
}
.partner_item-content {
  display: block;
  text-align: center;
}

.partner_item-photo {
  display: block;
  content: "";
  border: 4px solid white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.partner_item-photo::after {
  display: block;
  content: "";
  border: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.item_icon-tv::after {
  background-image: url(../icon/tv.png);
  background-color: rgb(255, 77, 79);
}

.item_icon-cup::after {
  background-image: url(../icon/cup.png);
  background-color: rgb(84, 185, 160);
}
.item_icon-flask::after {
  background-image: url(../icon/flask.png);
  background-color: rgb(255, 163, 5);
}
.item_icon-fly::after {
  background-image: url(../icon/fly.png);
  background-color: rgb(80, 110, 180);
}
.partner_item-name {
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  margin-bottom: 20px;
}
.partner_item-about {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: #666666;
  margin-bottom: 25px;
}
.footer_btn {
  display: block;
  padding: 10px 65px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 78, 80);
  font-weight: bold;
  line-height: 1.2;
  border: 2px solid rgb(255, 78, 80);
  border-radius: 20px;
  text-align: center;
  background-color: white;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .menu {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-self: center;
    padding: 40px 50px 0;
    margin-bottom: 50px;
  }
  .header-content {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .header-content__title {
    font-size: 52px;
    margin-bottom: 30px;
  }
  .background-img {
    height: 700px;
  }
  .list-of-partner {
    width: 532px;
    margin: 0 auto;
    padding: 0 5px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list-of-partner_item {
    width: 256px;
  }

  .footer_btn {
    padding: 10px 30px;
  }
}

@media screen and (min-width: 940px) {
  .container {
    max-width: 942px;
  }
  .wrapper {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .menu {
    padding: 40px 0 0;
  }

  .section_title {
    margin-bottom: 40px;
  }
  .list-of-partner {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  .list-of-partner_item {
    width: 220px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
