@media screen and (min-width: 1680px) {
  .container {
    width: 1350px;
    height: auto;
  }
  .header {
    background-image: url(../images/header/wave-1680.jpg);
    background-position-y: 10px;
    &__menu {
      padding-top: 40px;
      margin-bottom: 150px;
    }
    &__content {
      width: 615px;
    }
    &__text {
      font-size: 21px;
    }
    &__btn {
      margin-bottom: 250px;
    }
    &__img img {
      width: 839px;
      height: auto;
      margin: 0;
      top: -90px;
      left: 610px;
    }
  }
  .nav__list {
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 40px;
  }
  .site-logo__img {
    width: 136px;
    height: 50px;
  }
  .section-1 {
    &__list {
      margin-bottom: 120px;
    }
    &__item {
      padding-top: 20px;
      width: 430px;
      font-size: 21px;
    }
  }
  .section-3 {
    &__title {
      padding-top: 120px;
    }
    &__list {
      margin-bottom: 120px;
    }
    &__card {
      width: 434px;
      min-height: 400px;
    }
  }
  .section-5__item,
  .section-7__item,
  .card__title {
    font-size: 21px;
  }

  .section-2 {
    &__title {
      width: 810px;
      padding-right: 0;
      padding-top: 100px;
      margin-bottom: 60px;
    }
    &__list {
      padding: 60px 100px;
      min-height: 380px;
      margin-bottom: 20px;
    }
    &__item {
      font-size: 21px;
      width: 330px;
      &::before {
        font-size: 21px;
      }
      &::after {
        top: 17px;
      }
    }
  }
  .section-3 {
    &__list {
      margin-bottom: 130px;
    }
    &__card {
      width: 430px;
      min-height: 400px;
    }
    &__title {
      text-align: left;
      padding-top: 120px;
    }
  }
  .card__text {
    font-size: 19px;
  }
  .bg__section-4-5 {
    padding-top: 120px;
    &::before {
      height: 87%;
    }
  }
  .section-4__title--flex-left {
    width: 1350px;
  }
  .point {
    width: 260px;
    margin-bottom: 30px;
    padding: 0;
    &__title {
      font-size: 21px;
    }
    &__text {
      font-size: 19px;
    }
  }
  .program-list {
    margin-bottom: 0;
    &__title {
      font-size: 22px;
    }
  }
  .bg__section-4-5::before {
    height: 80%;
  }
  .section-5 {
    &__title {
      margin-bottom: 50px;
      &::before {
        width: 700px;
        height: 517px;
        z-index: -1;
        background-image: url(../images/section-4/class-546.jpg);
        background-size: cover;
        left: -150px;
        top: -225px;
      }
    }
    &__list {
      padding: 70px 100px;
    }
    &__item {
      font-size: 21px;
      width: 330px;
      &::before {
        font-size: 21px;
      }
      &::after {
        top: 17px;
      }
    }
  }
  .section-6 {
    padding-top: 60px;
  }

  .section-6 {
    padding-top: 110px;
    &__content {
      width: 670px;
      height: auto;
    }
    &__title {
      margin-bottom: 70px;
    }
  }
  .section-7,
  .section-8 {
    padding-top: 80px;
  }
  .section-7__list {
    padding: 50px 80px;
  }

  .slider__list {
    margin-bottom: 120px;
  }
  .section-form__wrapper{
    padding-top: 120px;
  }
  .form {
    &__text {
      font-size: 25px;
      width: 770px;
    }
    &__btn {
      margin-bottom: 100px;
    }
    &--tel {
      margin-bottom: 60px;
    }
  }
}
