@media screen and (min-width: 1280px) {
  .container {
    width: 1210px;
  }
  .card__title,
  .header__text {
    font-size: 18px;
  }
  .header {
    background-image: url(../images/header/wave-1280.jpg);
    background-position-y: 20px;
    &__menu {
      padding-top: 40px;
      margin-bottom: 120px;
    }
    &__title {
      width: 500px;
      font-size: 48px;
    }
    &__text {
      line-height: 1.5;
    }
    &__btn {
      margin-bottom: 200px;
    }
    &__img img {
      width: 685px;
      height: auto;
      margin: 0;
      top: -70px;
      left: 530px;
    }
  }
  .btn--free-lesson {
    font-size: 14px;
  }
  .nav {
    &__list {
      display: flex;
      list-style: none;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-right: 40px;
    }
    &__btn {
      margin-right: 0;
      padding: 26px 40px;
    }
    &__burger {
      display: none;
    }
  }

  .section-1 {
    &__list {
      margin-bottom: 80px;
    }
    &__item {
      width: 380px;
      padding-left: 80px;
      padding-top: 25px;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;
      &::before {
        width: 104px;
        height: 104px;
        z-index: -2;
        background-size: 60%;
        background-position: center;
      }
      &::after {
        width: 10px;
        height: 70px;
        z-index: -1;
        top: 17px;
        left: 100px;
        background-color: $main-white-color;
      }
    }
  }

  .section-2 {
    &__title {
      width: 750px;
      padding-top: 70px;
      margin-bottom: 50px;
    }
    &__list {
      padding: 40px 100px;
      min-height: 320px;
      margin-bottom: 20px;
    }
    &__item {
      width: 280px;
      font-size: 18px;
      &::before {
        font-size: 18px;
      }
      &::after {
        top: 14px;
      }
    }
  }
  .wrapper::after {
    background-image: url(../images/section-2/fire.png);
    height: 80%;
  }
  .section-3 {
    &__list {
      margin-bottom: 100px;
      padding: 0;
    }
    &__card {
      width: 390px;
      min-height: 340px;
    }
    &__title {
      text-align: left;
      padding-top: 80px;
    }
  }
  .card__text {
    font-size: 15px;
  }

  .program-list {
    flex-direction: row;
    padding-left: 0;
    position: relative;
    justify-content: space-between;
    margin-bottom: 30px;
    &__title {
      font-size: 19px;
    }
    &__list-of-points {
      @include list-column;
    }
    &__item {
      padding: 35px 0;
      &:not(:last-child)::before {
        display: none;
      }
      &::after {
        width: 17px;
        height: 17px;
        top: -17px;
        left: 0;
      }
    }
  }

  .bg__section-4-5::before {
    height: 98%;
  }
  .section-4 {
    &__line {
      display: block;
      background-color: $text-light-color;
      height: 2px;
      width: 100%;
    }
  }
  .point {
    padding-right: 5px;
    width: 240px;

    &__title {
      font-size: 19px;
      line-height: 1.8;
    }
    &__text {
      font-size: 15px;
      line-height: 1.8;
    }
  }

  .section-5 {
    &__title {
      margin-bottom: 40px;
      &::before {
        width: 546px;
        height: 350px;
        z-index: -1;
        background-image: url(../images/section-4/class-546.jpg);
        background-size: cover;
        left: -75px;
        top: -235px;
      }
    }
    &__list {
      padding: 50px 100px;
      min-height: 350px;
    }
    &__item {
      width: 310px;
      font-size: 18px;
      &::before {
        font-size: 18px;
      }
      &::after {
        top: 14px;
      }
    }
  }
  .section-7,
  .section-8 {
    padding-top: 80px;
  }
  .section-7 {
    &__list {
      padding: 40px 100px;
    }
    &__item {
      font-size: 19px;
      &::after {
        width: 26px;
        height: 30px;
      }
    }
  }
  .content__title {
    font-size: 30px;
  }
  .section-6 {
    padding-top: 90px;
    &__title {
      margin-bottom: 50px;
    }
    &__list {
      padding: 30px 0;
    }
    &__content {
      width: 640px;
      height: auto;
    }
    &__text {
      margin-bottom: 10px;
    }
    &__item {
      margin-bottom: 25px;

      ::before {
        width: 25px;
        height: 23px;
      }
    }
    &__img img {
      width: 494px;
      height: auto;
      margin-right: 80px;
    }
  }

  .section-6__item,
  .section-6__text,
  .section-6__link {
    font-size: 17px;
    line-height: 1.7;
  }
  .section-8__title {
    margin-bottom: 40px;
  }
  .slider {
    width: 1080px;
    margin: 0 auto;
    padding: 40px 100px 40px 260px;
    &__list {
      padding-top: 40px;
      width: 50%;
      margin-bottom: 100px;
    }

    &__title {
      font-size: 25px;
      &::after {
        left: -150px;
        top: 190px;
      }
      &::before {
        width: 150px;
        height: 150px;
        left: -150px;
      }
    }
    &__feedback {
      font-size: 17px;
    }
    &__link {
      font-size: 17px;
    }
  }
  .section-form__title {
    font-size: 39px;
    margin-bottom: 45px;
    width: 860px;
  }
  .form {
    &__input {
      width: 620px;
      font-size: 21px;
    }
    &__text {
      font-size: 18px;
      width: 550px;
      margin-bottom: 50px;
    }
    &__btn {
      margin-bottom: 90px;
    }
    &__input--tel {
      margin-bottom: 40px;
    }
  }
  .section-form__wrapper{
    padding-top: 70px;
  }
  .flex__wrapper {
    padding: 50px 0;
  }
  .footer__link--site-logo {
    font-size: 15px;
  }
}
