.footer {
  &__contact {
    display: flex;
    @include marg-center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  &__bg {
    width: 100%;
    height: 72px;
    background-color: $main-dark-color;
  }
  &__text {
    display: block;
    font-size: 11px;
    color: $main-white-color;
    text-align: center;
    padding-top: 30px;
  }
  &__link {
    &--tel {
      position: relative;
      margin-bottom: 25px;
      font-size: 14px;
      color: $main-dark-color;
      font-weight: bold;
      text-decoration: none;
      &::after {
        display: block;
        content: '';
        width: 28px;
        height: 32px;
        top: 50%;
        left: -40px;
        transform: translateY(-50%);
        position: absolute;
        background-image: url(../images/footer/noun_call_2543948.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &--insta img {
      width: 40px;
      height: 40px;
    }
    &--site-logo {
      text-align: center;
    }
  }
}


.flex__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 15px;
}
