.header {
  background-image: url(../../images/header/bg-wave.jpg);
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-position-x: center;
  &__menu {
    @include center-flex($type: 'sp-bt');
    flex-direction: row;
    padding-top: 25px;
    margin-bottom: 50px;
  }
  &__content {
    width: 100%;
    padding-bottom: 5px;
  }
  &__title {
    @include title;
    width: 100%;
    font-weight: 900;
    color: $main-dark-color;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 15px;
    line-height: 1.3;
    font-weight: bold;
    &--light {
      color: $text-light-color;
    }
    &--bold {
      color: $main-dark-color;
    }
    &--bright-text {
      margin-bottom: 35px;
      color: $bright-color;
    }
  }
  &__btn {
    margin-bottom: 35px;
  }
  &__img img {
    display: block;
    width: 215px;
    height: 185px;
    @include marg-center;
    margin-bottom: 80px;
  }
}

.nav {
  @include center-flex(right);
  flex-direction: row;
  &__list {
    display: none;
  }
  &__item {
    & a {
      font-size: 12px;
      color: #b9b9b9;
      font-weight: bold;
      text-decoration: none;
      font-family: $secondary-font;
      text-transform: uppercase;
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
    &:hover,
    &:focus {
      color: $bright-color;
    }
  }
  &__btn {
    display: none;
    cursor: pointer;
    text-transform: uppercase;
  }
  &__burger {
    display: flex;
    width: 26px;
    height: 13px;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background-color: $main-white-color;
  }
}

.site-logo__img {
  width: 79px;
  height: 38px;
}

.burger__line {
  width: 26px;
  height: 2px;
  background-color: $main-dark-color;
}

.btn--free-lesson {
  display: block;
  border: none;
  font-weight: 700;
  padding: 18px 10px;
  font-size: 11px;
  color: $main-white-color;
  text-transform: uppercase;
  text-align: justify;
  background-color: $bright-color;
  cursor: pointer;
  @include marg-center;
}
