.section-form {
  width: 100%;
  background-image: url(../images/form/DSC_0970-min.JPG);
  background-size: cover;
  text-align: center;
  &__title {
    display: block;
    font-size: 14px;
    @include marg-center;
    color: $main-white-color;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 240px;
  }
}

.section-form__wrapper {
  padding: 55px 0;
  opacity: 0.9;
  width: 100%;
  background-color: rgb(17, 21, 23);
}
.form {
  display: flex;
  flex-direction: column;
  &__text {
    display: block;
    @include marg-center;
    color: $main-white-color;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
    width: 240px;
    font-size: 11px;
    font-weight: 700;
  }
  &__input {
    width: 280px;
    height: 50px;
    border: 1px solid white;
    font-size: 13px;
    font-weight: 500;
    color: $main-white-color;
    background-color: transparent;
    margin-bottom: 20px;
    @include marg-center;
    padding: 10px 20px;
    &--tel {
      margin-bottom: 60px;
    }
  }
  &__btn {
    margin-bottom: 55px;
  }
}
