.section-2 {
  padding-bottom: 5px;
  &__title {
    @include title;
    color: $main-white-color;
    text-align: left;
    padding-right: 65px;
    margin-bottom: 20px;
    padding-top: 50px;
  }
  &__list {
    @include list;
    flex-direction: column;
    counter-reset: item;
    padding: 10px 20px 30px 20px;
    background-color: $main-white-color;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
    margin-bottom: 20px;
  }
  &__item {
    counter-increment: items;
    position: relative;
    min-height: 50px;
    padding-top: 30px;
    font-size: 13px;
    font-weight: bold;
    color: $main-dark-color;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &::before {
      display: block;
      content: '0' counter(items);
      color: $bright-color;
      position: absolute;
      top: 5px;
      left: 35px;
      font-size: 14px;
      font-weight: bold;
    }
    &::after {
      @include pseudo;
      background-color: $bright-color;
      top: 10px;
      left: 0;
      width: 26px;
      height: 3px;
    }
  }
}

.wrapper {
  width: 100%;
  position: relative;
  &::after {
    @include pseudo;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #111517;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
  }
}

.bright-text {
  color: $bright-color;
}
