.section-8 {
  padding-top: 45px;
  padding-bottom: 1px;
  &__title {
    @include title;
    color: $main-dark-color;
    @include marg-center;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px;
  }
}

.slider {
  padding: 150px 25px 10px 25px;
  position: relative;
  text-align: center;
  box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  margin-bottom: 20px;
  &__title {
    display: block;
    font-size: 13px;
    line-height: 2;
    color: $bright-color;
    font-weight: bold;
    &::before {
      @include pseudo;
      left: 50%;
      top: 20px;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transform: translateX(-50%);
      background-image: url(../images/section-8/image-6.png);
      background-position: top;
      background-size: 80%;
    }
    &::after {
      @include pseudo;
      left: 50%;
      top: 120px;
      width: 28px;
      height: 20px;
      transform: translateX(-50%);
      background-image: url(../images/section-8/vk.svg);
      background-size: 70%;
      background-repeat: no-repeat;
    }
  }
  &__text {
    display: block;
    font-size: 11px;
    color: $text-light-color;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  &__feedback {
    font-size: 11px;
    display: inline-block;
    font-weight: 600;
    color: $main-dark-color;
    margin-bottom: 20px;
    line-height: 1.8;
  }
  &__link {
    display: inline;
    font-size: 11px;
    color: $bright-color;
    line-height: 1.2;
  }
  &__list {
    @include list;
    flex-direction: row;
    width: 70%;
    @include marg-center;
    height: auto;
    margin-bottom: 55px;
  }
  &__item {
    height: 55px;
    width: 55px;
    border: none;
    border-radius: 50%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      border: 1px solid #ff6b08;
    }
    &--image-1 {
      background-image: url(../images/section-8/image-1.png);
    }
    &--image-2 {
      background-image: url(../images/section-8/image-2.png);
    }
    &--image-3 {
      background-image: url(../images/section-8/image-3.png);
    }
    &--image-4 {
      background-image: url(../images/section-8/image-4.png);
    }
    &--image-5 {
      background-image: url(../images/section-8/image-5.png);
    }
    &--image-6 {
      background-image: url(../images/section-8/image-6.png);
    }
    &--image-7 {
      background-image: url(../images/section-8/image-7.jpg);
    }
  }
  &__hidden {
    display: none;
  }
  &__btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 11px;
    border: none;
    background: transparent;
    &:hover,
    &:focus{
      cursor: pointer;
    }
    &--right {
      bottom: -47.5px;
      right: 0px;
    }
    &--left {
      bottom: -47.5px;
      left: 0;
    }
  }
}
