.section-8{
    padding-top: 45px;
  }
  .section-8__title {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 0 20px ;
  }
  
  .slider__title {
    display: block;
    font-size: 13px;
    line-height: 2;
    color: #ff6b08;
    font-weight: bold;
    
  }
  .slider {
    padding: 150px 25px 35px 25px;
    position: relative;
    text-align: center;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  }
  .slider__title::before {
    display:block;
    content: "";
    position: absolute;
    left: 50%;
    top: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-image: url(../images/section-8/image-6.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider__title::after {
    display:block;
    content: "";
    position: absolute;
    left: 50%;
    top: 120px;
    width: 28px;
    height: 20px;
    transform: translateX(-50%);
    background-image: url(../images/section-8/vk.svg);
    background-size: 70%;
    background-repeat: no-repeat;
  }
  .slider__text{
    display: block;
    font-size: 11px;
    color: #858585;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  .slider-feedback {
    font-size: 11px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.8;
  }
  
  .slider__link {
    font-size: 11px;
    color: #ff6b08;
    line-height: 1.2;
  }
  .slider__list {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom:55px ;
  }
  .slider__list::after,
  .slider__list::before{
    position: absolute;
    display: block;
    top : 27.5px;
    color: #ff6b08;
    font-weight: bold;
    font-size: 25px;
  }
  .slider__list::after{
     content: "\2192";
    right:-30px;
  }
  .slider__list::before {
    content: "\2190";
    left: -30px;
  }
  .slider__item {
    height: 55px;
    width: 55px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
  .slider__item:hover {
    border: 1px solid  #ff6b08 ;
  }
  .slider__item--image-1 {
    background-image: url(../images/section-8/image-1.png);
  
  }
  .slider__item--image-2 {
    background-image: url(../images/section-8/image-2.png);
  }
  .slider__item--image-3 {
    background-image: url(../images/section-8/image-3.png);
  }
  .slider__item--image-4 {
    background-image: url(../images/section-8/image-4.png);
  
  }
  .slider__item--image-5 {
    background-image: url(../images/section-8/image-5.png);
  
  }
  .slider__item--image-6 {
    background-image: url(../images/section-8/image-6.png);
  
  }
  .slider__item--image-7 {
    background-image: url(../images/section-8/image-7.jpg);
  
  }
  .slider__hidden {
    display: none;
  }