.section-6 {
  padding-top: 40px;
  &__title {
    margin-bottom: 20px;
    @include title;
    color: $main-dark-color;
    text-align: left;
  }
  &__bg-img {
    width: 100%;
    height: 216px;
    background-image: url(../images/section-6/Teacher.jpg);
    background-size: cover;
    margin-bottom: 25px;
  }
  &__list {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 5px;
    position: relative;
    &::after {
      @include pseudo;
      height: 2px;
      width: 26px;
      bottom: 0;
      left: 20px;
      background-color: $bright-color;
    }
  }
  &__item {
    display: block;
    padding-left: 35px;
    position: relative;
    font-size: 11px;
    font-weight: 700;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
    &::before {
      @include pseudo;
      left: 0;
      top: 0;
      width: 18px;
      height: 15px;
      z-index: 2;
      background-image: url(../images/section-6/Check.svg);
      @include bg-position (cov);
    }
  }
  &__text {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 11px;
    line-height: 1.5;
    color: $text-light-color;
    margin-bottom: 5px;
  }
  &__link {
    display: block;
    font-size: 11px;
    color: $bright-color;
    line-height: 1.2;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.content__title {
  @include title;
  color: $main-dark-color;
  text-align: left;
  border-bottom: 1px solid $text-light-color;
}
