.section-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  &__title {
    display: none;
  }
  &__list {
    @include list-column;
    padding-top: 10px;
    padding-left: 46px;
    padding-right: 30px;
    margin-bottom: 50px;
  }
  &__item {
    position: relative;
    padding-left: 70px;
    min-height: 60px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    color: $main-dark-color;
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    &::before {
      @include pseudo;
      border: 2px solid $bright-color;
      top: 0;
      left: 0;
      z-index: 2;
      width: 58px;
      height: 58px;
      @include bg-position;
      background-size: 80%;
    }
    &::after {
      @include pseudo;
      width: 10px;
      height: 36px;
      z-index: 3;
      top: 11px;
      left: 52px;
      background-color: $main-white-color;
    }
  }
}

.section-1__icon {
  &--Female-Student::before {
    background-image: url(../images/section-1/icon__Female-Student.svg);
  }
  &--Mobile-Learning::before {
    background-image: url(../images/section-1/icon__Mobile-Learning.svg);
  }
  &--insurance::before {
    background-image: url(../images/section-1/icon__insurance.svg);
  }
}
